<%- include('./includes/head.ejs') %> 


<%- include('./includes/navigation.ejs') %> 

  
  <div class="flight">
    <h1><%= pageTitle %></h1>
    <p>Flight Departures</p>
  </div>
    

    <% if(flights.length > 0){ %> 
      <div class="card-group">
        <% for(let fl of flights){ %> 
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Airline <%= fl.airline %> 
                <small class="text-muted"><%= fl.flightNo %></small>
              </h5>
              <div class="card-header"><h2> Airport <%= fl.airport %></h2></div>
              <div class=<%= fl.departs.getFullYear() !== new Date().getFullYear() ? 'dateError' : '' %> >
                <p class="card-text">Your departure date is <%= fl.departs %></p>
              </div>
            </div>
            <div class="card-footer">
              
              <a href="/single-flight/<%= fl.id %>" class="btn btn-primary"> view more</a>
            </div>
        
          </div>
        <% } %> 
      </div>
    <% }else{ %> 
      <h1>Flight Departures not updated yet.. please <a href="/add-flight">add flight</a></h1>
    <% } %> 
    <%- include('./includes/footer.ejs') %> 