<%- include('./includes/head.ejs') %> 


<%- include('./includes/navigation.ejs') %> 

   <main>
       <h1>Flight Details</h1>
        <div class="card" style="width: 450px;">
                <div class="mb-12">
                    <h1>Airport : <%= flight.airport %> 
                </div> 

                <div class="mb-12">
                    <h1>Airline : <%= flight.airline %> </h1>
                </div> 
                <div class="mb-12">
                    <h1>Air No. : <%= flight.flightNo %> 
                </div>

                <div class="mb-12">
                    <h1>Departure : <%= depart%> 
                </div>
                
                <div>
                    <a href="/single-flight/edit/<%= flight._id%>" class="btn btn-primary"> Edit</a>

                    <form action="/single-flight/delete-flight/<%= flight._id%>" method="POST">
                        <input type="hidden" name="flightId" value=<%= flight._id%> >
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
        </div>
   </main>


<%- include('./includes/footer.ejs') %> 