<%- include('./includes/head.ejs') %> 


<%- include('./includes/navigation.ejs') %> 

       <h1>Flight Details</h1>
       <section>
            <div class="card" style="width: 600px;">
                <div class="col-12 list">
                    <h3 class="col-6">Airport :  </h3>
                    <p class="col-6"><%= flight.airport %></p>
                </div> 

                <div class="col-12 list">
                    <h3 class="col-6">Airline :  </h3>
                    <p class="col-6"><%= flight.airline %></p>
                </div> 
                <div class="mb-12 list">
                    <h3 class="col-6">Air No : </h3>
                    <p class="col-6"><%= flight.flightNo %> </p>
                </div>

                <div class="mb-12 list">
                    <h3 class="col-6">Depart:</h3>
                    <p class="col-6"><%= depart %>  <span><%= time %> </span></p>
                </div>
                <hr>

                <%# this is for the arrival %> 
                <% if(flight.destinations.length > 0){ %> 
                    <% flight.destinations.forEach(el => {%>
                        <form action='/single-flight/delArrival' method='POST' class="removeSub">
                            <input type="hidden"  name="delArrival" value=<%= el._id %> >
                            <input type="hidden"  name="parent" value=<%= parentId %> >
                            <button type="submit" class="btn btn-danger"> X </button>
                        </form>
                        <div class="mb-12 list">
                            <h3 class="col-6">AirPort : </h3>
                            <p class="col-6"><%= el.airport %> </p>
                        </div>

                        <div class="mb-12 list">
                            <h3 class="col-6">Arrival:</h3>
                            <p class="col-6"><%= el.date %>  </p>
                        </div>
                    <% }); %> 
                <% } else { %> 
                    <h3>Please add destination...</h3>
                <% } %> 


                    <%# This is for the price and seat %> 
                    <% if(flight.tickets.length > 0){ %> 
                        <% flight.tickets.forEach(t => {%>
                             <div class="mb-12 list">
                                <h3 class="col-6">Price</h3>
                                <p class="col-6">$<%= t.price%> </p>
                            </div>
    
                            <div class="mb-12 list">
                                <h3 class="col-6">Seat</h3>
                                <p class="col-6"><%= t.seat %>  </p>
                            </div>
                        <% }); %> 
                    <% } else { %> 
                        <h3>Please add ticket...</h3>
                    <% } %> 



                <div class="aform">
                    <a href="/single-flight/edit/<%= flight._id%>" class="btn btn-primary" style="width: 140px;"> Edit</a>

                    <form action="/single-flight/delete-flight/<%= flight._id%>" method="POST" >
                        <input type="hidden" name="flightId" value=<%= flight._id%> >
                        <button class="btn btn-danger" type="submit" style="width: 140px;">Delete</button>
                    </form>
                </div>
            </div>
            
            <form action="/single-flight/<%= flight._id%>/add-arrival" method="POST" class="card">
                <div class="mb-12">
                    <label for="airline" class="form-label">Airport</label>
                    <select class="form-select" name="arrivalAirport" aria-label="Default select example" >
                        <option selected> select airport...</option>
                        <option value="AUS"> AUS</option>
                        <option value="DFW"> DFW</option>
                        <option value="DEN"> DEN</option>
                        <option value="LAX"> LAX</option>
                        <option value="SAN"> SAN</option>
                    </select>
                </div> 
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label"> Arrival Date</label>
                    <input type="datetime-local" class="form-control"  name="arrivalDate" id="exampleFormControlInput1">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg b1" >Add Arrival</button>
            </form>


            <form action="/single-flight/<%= flight._id%>/add-ticket" method="POST" class="card">
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label"> Seat</label>
                    <input name="seat"  class="form-control" id="exampleFormControlInput1" required pattern="[A-F][1-9]\d" >
                </div>
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" id="exampleFormControlInput1">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg b1" >Add </button>
            </form>


        </section>
        


<%- include('./includes/footer.ejs') %> 